			<style type="text/css">
			/*番摊后位球着色重定义*/
			.hm_list i.orange:nth-last-child(1), .hm_list i.orange:nth-last-child(2) {
				background: url(<?php echo IMG_PATH?>lottery/ball.png) no-repeat center !important;
				background-color: transparent !important;
			}

			.hm_list i.blue:nth-last-child(1), .hm_list i.blue:nth-last-child(2) {
				background: url(<?php echo IMG_PATH?>lottery/fall.png) no-repeat center !important;
				background-color: transparent !important;
			}
			</style>

			<div id="game" class="game">
				<div class="line_1 df">
					<a href="javascript:;" class="C_34J" data="34J"><i>3-4角</i><em></em></a>
					<a href="javascript:;" class="C_3L4" data="3L4"><i>3念4</i><em></em></a>
					<a href="javascript:;" class="C_Z3" data="Z3"><i>正3</i><em></em></a>
					<a href="javascript:;" class="C_3L2" data="3L2"><i>3念2</i><em></em></a>
					<a href="javascript:;" class="C_23J" data="23J"><i>2-3角</i><em></em></a>
				</div>
				<div class="line_center">
					<div class="line_2 df">
						<a href="javascript:;" class="C_4L3" data="4L3"><i>4念3</i><em></em></a>
						<a href="javascript:;" class="C_Z4" data="Z4"><i>正4</i><em></em></a>
						<a href="javascript:;" class="C_4L1" data="4L1"><i>4念1</i><em></em></a>
					</div>
					<div class="line_3">
						<a href="javascript:;" class="C_3L1" data="3L1"><i>3念1</i><em></em></a>
						<a href="javascript:;" class="C_F4" data="F4"><i>番4</i><em></em></a>
						<a href="javascript:;" class="C_4L2" data="4L2"><i>4念2</i><em></em></a>
					</div>
					<div class="line_4">
						<a href="javascript:;" class="C_F3" data="F3"><i>番3</i><em></em></a>
						<a href="javascript:;" class="C_D" data="D"><i>单</i><em></em></a>
						<a href="javascript:;" class="C_S" data="S"><i>双</i><em></em></a>
						<a href="javascript:;" class="C_F1" data="F1"><i>番1</i><em></em></a>
					</div>
					<div class="line_5">
						<a href="javascript:;" class="C_2L4" data="2L4"><i>2念4</i><em></em></a>
						<a href="javascript:;" class="C_F2" data="F2"><i>番2</i><em></em></a>
						<a href="javascript:;" class="C_1L3" data="1L3"><i>1念3</i><em></em></a>
					</div>
					<div class="line_6 df">
						<a href="javascript:;" class="C_2L3" data="2L3"><i>2念3</i><em></em></a>
						<a href="javascript:;" class="C_Z2" data="Z2"><i>正2</i><em></em></a>
						<a href="javascript:;" class="C_2L1" data="2L1"><i>2念1</i><em></em></a>
					</div>
				</div>
				<div class="line_7 df">
					<a href="javascript:;" class="C_41J" data="41J"><i>4-1角</i><em></em></a>
					<a href="javascript:;" class="C_1L4" data="1L4"><i>1念4</i><em></em></a>
					<a href="javascript:;" class="C_Z1" data="Z1"><i>正1</i><em></em></a>
					<a href="javascript:;" class="C_1L2" data="1L2"><i>1念2</i><em></em></a>
					<a href="javascript:;" class="C_12J" data="12J"><i>1-2角</i><em></em></a>
				</div>
			</div>