			<div class="games">
				<div class="title">
					<a href="javascript:;" class="a"><?php echo _lang('混合')?></a>
					<a href="javascript:;"><?php echo _lang('特码')?></a>
				</div>
				<div id="game" class="line_box">
					<div class="line a">
						<h4><?php echo _lang('混合')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_DA" data="DA"><i><?php echo _lang('大')?></i><em></em></a>
							<a href="javascript:;" class="C_X" data="X"><i><?php echo _lang('小')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_D" data="D"><i><?php echo _lang('单')?></i><em></em></a>
							<a href="javascript:;" class="C_S" data="S"><i><?php echo _lang('双')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_DD" data="DD"><i><?php echo _lang('大单')?></i><em></em></a>
							<a href="javascript:;" class="C_DS" data="DS"><i><?php echo _lang('大双')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_XD" data="XD"><i><?php echo _lang('小单')?></i><em></em></a>
							<a href="javascript:;" class="C_XS" data="XS"><i><?php echo _lang('小双')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_BZ" data="BZ"><i><?php echo _lang('豹子')?></i><em></em></a>
						</div>
					</div>
					<div class="line">
						<h4><?php echo _lang('特码')?></h4>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_S4" data="S4"><i>4</i><em></em></a>
							<a href="javascript:;" class="C_S5" data="S5"><i>5</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_S6" data="S6"><i>6</i><em></em></a>
							<a href="javascript:;" class="C_S7" data="S7"><i>7</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_S8" data="S8"><i>8</i><em></em></a>
							<a href="javascript:;" class="C_S9" data="S9"><i>9</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_S10" data="S10"><i>10</i><em></em></a>
							<a href="javascript:;" class="C_S11" data="S11"><i>11</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_S12" data="S12"><i>12</i><em></em></a>
							<a href="javascript:;" class="C_S13" data="S13"><i>13</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_S14" data="S14"><i>14</i><em></em></a>
							<a href="javascript:;" class="C_S12" data="S15"><i>15</i><em></em></a>
						</div>
						<div class="tab n2 num">
						    <a href="javascript:;" class="C_S16" data="S16"><i>16</i><em></em></a>
							<a href="javascript:;" class="C_S17" data="S17"><i>17</i><em></em></a>
						</div>
					</div>
				</div>
			</div>