			<div class="games">
				<div class="title">
					<a href="javascript:;">1-5名</a>
				</div>
				<div id="game" class="line_box">
					<div class="line a">
						<h4>第一球</h4>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_1A0" data="1A0" data_type="第一球"><i class="blue">1</i><em></em></a>
							<a href="javascript:;" class="C_1A1" data="1A1" data_type="第一球"><i class="blue">2</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_1A2" data="1A2" data_type="第一球"><i class="blue">3</i><em></em></a>
							<a href="javascript:;" class="C_1A3" data="1A3" data_type="第一球"><i class="blue">4</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_1A4" data="1A4" data_type="第一球"><i class="blue">5</i><em></em></a>
							<a href="javascript:;" class="C_1A5" data="1A5" data_type="第一球"><i class="blue">6</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_1A6" data="1A6" data_type="第一球"><i class="blue">7</i><em></em></a>
							<a href="javascript:;" class="C_1A7" data="1A7" data_type="第一球"><i class="blue">8</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_1A8" data="1A8" data_type="第一球"><i class="blue">9</i><em></em></a>
							<a href="javascript:;" class="C_1A9" data="1A9" data_type="第一球"><i class="blue">10</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_1A10" data="1A10" data_type="第一球"><i class="blue">11</i><em></em></a>
						</div>
						<h4>第二球</h4>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_2A0" data="2A0" data_type="第二球"><i class="blue">1</i><em></em></a>
							<a href="javascript:;" class="C_2A1" data="2A1" data_type="第二球"><i class="blue">2</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_2A2" data="2A2" data_type="第二球"><i class="blue">3</i><em></em></a>
							<a href="javascript:;" class="C_2A3" data="2A3" data_type="第二球"><i class="blue">4</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_2A4" data="2A4" data_type="第二球"><i class="blue">5</i><em></em></a>
							<a href="javascript:;" class="C_2A5" data="2A5" data_type="第二球"><i class="blue">6</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_2A6" data="2A6" data_type="第二球"><i class="blue">7</i><em></em></a>
							<a href="javascript:;" class="C_2A7" data="2A7" data_type="第二球"><i class="blue">8</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_2A8" data="2A8" data_type="第二球"><i class="blue">9</i><em></em></a>
							<a href="javascript:;" class="C_2A9" data="2A9" data_type="第二球"><i class="blue">10</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_2A10" data="2A10" data_type="第二球"><i class="blue">11</i><em></em></a>
						</div>
						<h4>第三球</h4>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_3A0" data="3A0" data_type="第三球"><i class="blue">1</i><em></em></a>
							<a href="javascript:;" class="C_3A1" data="3A1" data_type="第三球"><i class="blue">2</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_3A2" data="3A2" data_type="第三球"><i class="blue">3</i><em></em></a>
							<a href="javascript:;" class="C_3A3" data="3A3" data_type="第三球"><i class="blue">4</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_3A4" data="3A4" data_type="第三球"><i class="blue">5</i><em></em></a>
							<a href="javascript:;" class="C_3A5" data="3A5" data_type="第三球"><i class="blue">6</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_3A6" data="3A6" data_type="第三球"><i class="blue">7</i><em></em></a>
							<a href="javascript:;" class="C_3A7" data="3A7" data_type="第三球"><i class="blue">8</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_3A8" data="3A8" data_type="第三球"><i class="blue">9</i><em></em></a>
							<a href="javascript:;" class="C_3A9" data="3A9" data_type="第三球"><i class="blue">10</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_3A9" data="3A10" data_type="第三球"><i class="blue">11</i><em></em></a>
						</div>
						<h4>第四球</h4>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_4A0" data="4A0" data_type="第四球"><i class="blue">1</i><em></em></a>
							<a href="javascript:;" class="C_4A1" data="4A1" data_type="第四球"><i class="blue">2</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_4A2" data="4A2" data_type="第四球"><i class="blue">3</i><em></em></a>
							<a href="javascript:;" class="C_4A3" data="4A3" data_type="第四球"><i class="blue">4</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_4A4" data="4A4" data_type="第四球"><i class="blue">5</i><em></em></a>
							<a href="javascript:;" class="C_4A5" data="4A5" data_type="第四球"><i class="blue">6</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_4A6" data="4A6" data_type="第四球"><i class="blue">7</i><em></em></a>
							<a href="javascript:;" class="C_4A7" data="4A7" data_type="第四球"><i class="blue">8</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_4A8" data="4A8" data_type="第四球"><i class="blue">9</i><em></em></a>
							<a href="javascript:;" class="C_4A9" data="4A9" data_type="第四球"><i class="blue">10</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_4A10" data="4A10" data_type="第四球"><i class="blue">11</i><em></em></a>
						</div>
						<h4>第五球</h4>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_5A0" data="5A0" data_type="第五球"><i class="blue">1</i><em></em></a>
							<a href="javascript:;" class="C_5A1" data="5A1" data_type="第五球"><i class="blue">2</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_5A2" data="5A2" data_type="第五球"><i class="blue">3</i><em></em></a>
							<a href="javascript:;" class="C_5A3" data="5A3" data_type="第五球"><i class="blue">4</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_5A4" data="5A4" data_type="第五球"><i class="blue">5</i><em></em></a>
							<a href="javascript:;" class="C_5A5" data="5A5" data_type="第五球"><i class="blue">6</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_5A6" data="5A6" data_type="第五球"><i class="blue">7</i><em></em></a>
							<a href="javascript:;" class="C_5A7" data="5A7" data_type="第五球"><i class="blue">8</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_5A8" data="5A8" data_type="第五球"><i class="blue">9</i><em></em></a>
							<a href="javascript:;" class="C_5A9" data="5A9" data_type="第五球"><i class="blue">10</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_5A9" data="5A10" data_type="第五球"><i class="blue">11</i><em></em></a>
						</div>
					</div>
				</div>
			</div>