            <style type="text/css">
			.hm_list i.blue:nth-last-child(1), .hm_list i.blue:nth-last-child(1) {
				background: url(<?php echo IMG_PATH?>lottery/fall.png) no-repeat center !important;
				background-color: transparent !important;
			}
			</style>
			<div class="games">
				<div class="title">
					<a href="javascript:;" class="a"><?php echo _lang('特码')?></a>
					<a href="javascript:;"><?php echo _lang('特肖')?></a>
					<a href="javascript:;"><?php echo _lang('两面')?></a>
				</div>
				<div id="game" class="line_box">
					<div class="line a">
						<h4><?php echo _lang('特码')?></h4>
						<div class="tab num">
							<a href="javascript:;" class="C_7A1 hb" data="7A1" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>1</i><em></em></a>
							<a href="javascript:;" class="C_7A2 hb" data="7A2" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>2</i><em></em></a>
							<a href="javascript:;" class="C_7A3 lb" data="7A3" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>3</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_7A4 lb" data="7A4" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>4</i><em></em></a>
							<a href="javascript:;" class="C_7A5 lvb" data="7A5" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>5</i><em></em></a>
							<a href="javascript:;" class="C_7A6 lvb" data="7A6" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>6</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_7A7 hb" data="7A7" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>7</i><em></em></a>
							<a href="javascript:;" class="C_7A8 hb" data="7A8" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>8</i><em></em></a>
							<a href="javascript:;" class="C_7A9 lb" data="7A9" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>9</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_7A10 lb" data="7A10" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>10</i><em></em></a>
							<a href="javascript:;" class="C_7A11 lvb" data="7A11" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>11</i><em></em></a>
							<a href="javascript:;" class="C_7A12 hb" data="7A12" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>12</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_7A13 hb" data="7A13" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>13</i><em></em></a>
							<a href="javascript:;" class="C_7A14 lb" data="7A14" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>14</i><em></em></a>
							<a href="javascript:;" class="C_7A15 lb" data="7A15" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>15</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_7A16 lvb" data="7A16" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>16</i><em></em></a>
							<a href="javascript:;" class="C_7A17 lvb" data="7A17" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>17</i><em></em></a>
							<a href="javascript:;" class="C_7A18 hb" data="7A18" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>18</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_7A19 hb" data="7A19" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>19</i><em></em></a>
							<a href="javascript:;" class="C_7A20 lb" data="7A20" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>20</i><em></em></a>
							<a href="javascript:;" class="C_7A21 lvb" data="7A21" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>21</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_7A22 lvb" data="7A22" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>22</i><em></em></a>
							<a href="javascript:;" class="C_7A23 hb" data="7A23" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>23</i><em></em></a>
							<a href="javascript:;" class="C_7A24 hb" data="7A24" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>24</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_7A25 lb" data="7A25" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>25</i><em></em></a>
							<a href="javascript:;" class="C_7A26 lb" data="7A26" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>26</i><em></em></a>
							<a href="javascript:;" class="C_7A27 lvb" data="7A27" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>27</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_7A28 lvb" data="7A28" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>28</i><em></em></a>
							<a href="javascript:;" class="C_7A29 hb" data="7A29" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>29</i><em></em></a>
							<a href="javascript:;" class="C_7A30 hb" data="7A30" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>30</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_7A31 lb" data="7A31" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>31</i><em></em></a>
							<a href="javascript:;" class="C_7A32 lvb" data="7A32" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>32</i><em></em></a>
							<a href="javascript:;" class="C_7A33 lvb" data="7A33" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>33</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_7A34 hb" data="7A34" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>34</i><em></em></a>
							<a href="javascript:;" class="C_7A35 hb" data="7A35" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>35</i><em></em></a>
							<a href="javascript:;" class="C_7A36 lb" data="7A36" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>36</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_7A37 lb" data="7A37" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>37</i><em></em></a>
							<a href="javascript:;" class="C_7A38 lvb" data="7A38" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>38</i><em></em></a>
							<a href="javascript:;" class="C_7A39 lvb" data="7A39" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>39</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_7A40 hb" data="7A40" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>40</i><em></em></a>
							<a href="javascript:;" class="C_7A41 lb" data="7A41" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>41</i><em></em></a>
							<a href="javascript:;" class="C_7A42 lb" data="7A42" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>42</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_7A43 lvb" data="7A43" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>43</i><em></em></a>
							<a href="javascript:;" class="C_7A44 lvb" data="7A44" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>44</i><em></em></a>
							<a href="javascript:;" class="C_7A45 hb" data="7A45" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>45</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_7A46 hb" data="7A46" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>46</i><em></em></a>
							<a href="javascript:;" class="C_7A47 lb" data="7A47" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>47</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_7A48 lb" data="7A48" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>48</i><em></em></a>
							<a href="javascript:;" class="C_7A49 lvb" data="7A49" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i>49</i><em></em></a>
						</div>
					</div>
					<div class="line">
						<h4><?php echo _lang('特肖')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_NIU" data="NIU" data_type="<?php echo _lang('特肖')?>"><i><?php echo _lang('牛')?></i><em></em></a>
							<a href="javascript:;" class="C_JI" data="JI" data_type="<?php echo _lang('特肖')?>"><i><?php echo _lang('鸡')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_YANG" data="YANG" data_type="<?php echo _lang('特肖')?>"><i><?php echo _lang('羊')?></i><em></em></a>
							<a href="javascript:;" class="C_ZHU" data="ZHU" data_type="<?php echo _lang('特肖')?>"><i><?php echo _lang('猪')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_GOU" data="GOU" data_type="<?php echo _lang('特肖')?>"><i><?php echo _lang('狗')?></i><em></em></a>
							<a href="javascript:;" class="C_MA" data="MA" data_type="<?php echo _lang('特肖')?>"><i><?php echo _lang('马')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_SHE" data="SHE" data_type="<?php echo _lang('特肖')?>"><i><?php echo _lang('蛇')?></i><em></em></a>
							<a href="javascript:;" class="C_SHU" data="SHU" data_type="<?php echo _lang('特肖')?>"><i><?php echo _lang('鼠')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_HU" data="HU" data_type="<?php echo _lang('特肖')?>"><i><?php echo _lang('虎')?></i><em></em></a>
							<a href="javascript:;" class="C_TU" data="TU" data_type="<?php echo _lang('特肖')?>"><i><?php echo _lang('兔')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_LONG" data="LONG" data_type="<?php echo _lang('特肖')?>"><i><?php echo _lang('龙')?></i><em></em></a>
							<a href="javascript:;" class="C_HOU" data="HOU" data_type="<?php echo _lang('特肖')?>"><i><?php echo _lang('猴')?></i><em></em></a>
						</div>
					</div>
					<div class="line">
						<h4><?php echo _lang('第一球')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_1D" data="1D" data_type="<?php echo _lang('第一球')?>"><i><?php echo _lang('单')?></i><em></em></a>
							<a href="javascript:;" class="C_1DA" data="1DA" data_type="<?php echo _lang('第一球')?>"><i><?php echo _lang('大')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_1S" data="1S" data_type="<?php echo _lang('第一球')?>"><i><?php echo _lang('双')?></i><em></em></a>
							<a href="javascript:;" class="C_1X" data="1X" data_type="<?php echo _lang('第一球')?>"><i><?php echo _lang('小')?></i><em></em></a>
						</div>
						<h4><?php echo _lang('第二球')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_2D" data="2D" data_type="<?php echo _lang('第二球')?>"><i><?php echo _lang('单')?></i><em></em></a>
							<a href="javascript:;" class="C_2DA" data="2DA" data_type="<?php echo _lang('第二球')?>"><i><?php echo _lang('大')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_2S" data="2S" data_type="<?php echo _lang('第二球')?>"><i><?php echo _lang('双')?></i><em></em></a>
							<a href="javascript:;" class="C_2X" data="2X" data_type="<?php echo _lang('第二球')?>"><i><?php echo _lang('小')?></i><em></em></a>
						</div>
						<h4><?php echo _lang('第三球')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_3D" data="3D" data_type="<?php echo _lang('第三球')?>"><i><?php echo _lang('单')?></i><em></em></a>
							<a href="javascript:;" class="C_3DA" data="3DA" data_type="<?php echo _lang('第三球')?>"><i><?php echo _lang('大')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_3S" data="3S" data_type="<?php echo _lang('第三球')?>"><i><?php echo _lang('双')?></i><em></em></a>
							<a href="javascript:;" class="C_3X" data="3X" data_type="<?php echo _lang('第三球')?>"><i><?php echo _lang('小')?></i><em></em></a>
						</div>
						<h4><?php echo _lang('第四球')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_4D" data="4D" data_type="<?php echo _lang('第四球')?>"><i><?php echo _lang('单')?></i><em></em></a>
							<a href="javascript:;" class="C_4DA" data="4DA" data_type="<?php echo _lang('第四球')?>"><i><?php echo _lang('大')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_4S" data="4S" data_type="<?php echo _lang('第四球')?>"><i><?php echo _lang('双')?></i><em></em></a>
							<a href="javascript:;" class="C_4X" data="4X" data_type="<?php echo _lang('第四球')?>"><i><?php echo _lang('小')?></i><em></em></a>
						</div>
						<h4><?php echo _lang('第五球')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_5D" data="5D" data_type="<?php echo _lang('第五球')?>"><i><?php echo _lang('单')?></i><em></em></a>
							<a href="javascript:;" class="C_5DA" data="5DA" data_type="<?php echo _lang('第五球')?>"><i><?php echo _lang('大')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_5S" data="5S" data_type="<?php echo _lang('第五球')?>"><i><?php echo _lang('双')?></i><em></em></a>
							<a href="javascript:;" class="C_5X" data="5X" data_type="<?php echo _lang('第五球')?>"><i><?php echo _lang('小')?></i><em></em></a>
						</div>
						<h4><?php echo _lang('第六球')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_6D" data="6D" data_type="<?php echo _lang('第六球')?>"><i><?php echo _lang('单')?></i><em></em></a>
							<a href="javascript:;" class="C_6DA" data="6DA" data_type="<?php echo _lang('第六球')?>"><i><?php echo _lang('大')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_6S" data="6S" data_type="<?php echo _lang('第六球')?>"><i><?php echo _lang('双')?></i><em></em></a>
							<a href="javascript:;" class="C_6X" data="6X" data_type="<?php echo _lang('第六球')?>"><i><?php echo _lang('小')?></i><em></em></a>
						</div>
						<h4><?php echo _lang('特码')?></h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_7D" data="7D" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i><?php echo _lang('单')?></i><em></em></a>
							<a href="javascript:;" class="C_7DA" data="7DA" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i><?php echo _lang('大')?></i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_7S" data="7S" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i><?php echo _lang('双')?></i><em></em></a>
							<a href="javascript:;" class="C_7X" data="7X" data_type="<?php echo _lang('单')?><?php echo _lang('特码')?>"><i><?php echo _lang('小')?></i><em></em></a>
					</div>
				</div>
			</div>