			<div class="games">
				<div class="title">
					<a href="javascript:;" class="a">特码</a>
					<a href="javascript:;">生肖</a>
					<a href="javascript:;">混合</a>
					<a href="javascript:;">波色</a>
					<a href="javascript:;">头尾数</a>
				</div>
				<div id="game" class="line_box">
					<div class="line a">
						<h4>特码</h4>
						<div class="tab num">
							<a href="javascript:;" class="C_S1 hb" data="S1"><i>1</i><em></em></a>
							<a href="javascript:;" class="C_S2 hb" data="S2"><i>2</i><em></em></a>
							<a href="javascript:;" class="C_S3 lb" data="S3"><i>3</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_S4 lb" data="S4"><i>4</i><em></em></a>
							<a href="javascript:;" class="C_S5 lvb" data="S5"><i>5</i><em></em></a>
							<a href="javascript:;" class="C_S6 lvb" data="S6"><i>6</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_S7 hb" data="S7"><i>7</i><em></em></a>
							<a href="javascript:;" class="C_S8 hb" data="S8"><i>8</i><em></em></a>
							<a href="javascript:;" class="C_S9 lb" data="S9"><i>9</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_S10 lb" data="S10"><i>10</i><em></em></a>
							<a href="javascript:;" class="C_S11 lvb" data="S11"><i>11</i><em></em></a>
							<a href="javascript:;" class="C_S12 hb" data="S12"><i>12</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_S13 hb" data="S13"><i>13</i><em></em></a>
							<a href="javascript:;" class="C_S14 lb" data="S14"><i>14</i><em></em></a>
							<a href="javascript:;" class="C_S15 lb" data="S15"><i>15</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_S16 lvb" data="S16"><i>16</i><em></em></a>
							<a href="javascript:;" class="C_S17 lvb" data="S17"><i>17</i><em></em></a>
							<a href="javascript:;" class="C_S18 hb" data="S18"><i>18</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_S19 hb" data="S19"><i>19</i><em></em></a>
							<a href="javascript:;" class="C_S20 lb" data="S20"><i>20</i><em></em></a>
							<a href="javascript:;" class="C_S21 lvb" data="S21"><i>21</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_S22 lvb" data="S22"><i>22</i><em></em></a>
							<a href="javascript:;" class="C_S23 hb" data="S23"><i>23</i><em></em></a>
							<a href="javascript:;" class="C_S24 hb" data="S24"><i>24</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_S25 lb" data="S25"><i>25</i><em></em></a>
							<a href="javascript:;" class="C_S26 lb" data="S26"><i>26</i><em></em></a>
							<a href="javascript:;" class="C_S27 lvb" data="S27"><i>27</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_S28 lvb" data="S28"><i>28</i><em></em></a>
							<a href="javascript:;" class="C_S29 hb" data="S29"><i>29</i><em></em></a>
							<a href="javascript:;" class="C_S30 hb" data="S30"><i>30</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_S31 lb" data="S31"><i>31</i><em></em></a>
							<a href="javascript:;" class="C_S32 lvb" data="S32"><i>32</i><em></em></a>
							<a href="javascript:;" class="C_S33 lvb" data="S33"><i>33</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_S34 hb" data="S34"><i>34</i><em></em></a>
							<a href="javascript:;" class="C_S35 hb" data="S35"><i>35</i><em></em></a>
							<a href="javascript:;" class="C_S36 lb" data="S36"><i>36</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_S37 lb" data="S37"><i>37</i><em></em></a>
							<a href="javascript:;" class="C_S38 lvb" data="S38"><i>38</i><em></em></a>
							<a href="javascript:;" class="C_S39 lvb" data="S39"><i>39</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_S40 hb" data="S40"><i>40</i><em></em></a>
							<a href="javascript:;" class="C_S41 lb" data="S41"><i>41</i><em></em></a>
							<a href="javascript:;" class="C_S42 lb" data="S42"><i>42</i><em></em></a>
						</div>
						<div class="tab num">
							<a href="javascript:;" class="C_S43 lvb" data="S43"><i>43</i><em></em></a>
							<a href="javascript:;" class="C_S44 lvb" data="S44"><i>44</i><em></em></a>
							<a href="javascript:;" class="C_S45 hb" data="S45"><i>45</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_S46 hb" data="S46"><i>46</i><em></em></a>
							<a href="javascript:;" class="C_S47 lb" data="S47"><i>47</i><em></em></a>
						</div>
						<div class="tab n2 num">
							<a href="javascript:;" class="C_S48 lb" data="S48"><i>48</i><em></em></a>
							<a href="javascript:;" class="C_S49 lvb" data="S49"><i>49</i><em></em></a>
						</div>
					</div>
					<div class="line">
						<h4>生肖</h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_NIU" data="NIU"><i>牛</i><em></em></a>
							<a href="javascript:;" class="C_JI" data="JI"><i>鸡</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_YANG" data="YANG"><i>羊</i><em></em></a>
							<a href="javascript:;" class="C_ZHU" data="ZHU"><i>猪</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_GOU" data="GOU"><i>狗</i><em></em></a>
							<a href="javascript:;" class="C_MA" data="MA"><i>马</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_SHE" data="SHE"><i>蛇</i><em></em></a>
							<a href="javascript:;" class="C_SHU" data="SHU"><i>鼠</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_HU" data="HU"><i>虎</i><em></em></a>
							<a href="javascript:;" class="C_TU" data="TU"><i>兔</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_LONG" data="LONG"><i>龙</i><em></em></a>
							<a href="javascript:;" class="C_HOU" data="HOU"><i>猴</i><em></em></a>
						</div>
					</div>
					<div class="line">
						<h4>混合</h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_DA" data="DA"><i>大</i><em></em></a>
							<a href="javascript:;" class="C_X" data="X"><i>小</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_D" data="D"><i>单</i><em></em></a>
							<a href="javascript:;" class="C_S" data="S"><i>双</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_DD" data="DD"><i>大单</i><em></em></a>
							<a href="javascript:;" class="C_DS" data="DS"><i>大双</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_XD" data="XD"><i>小单</i><em></em></a>
							<a href="javascript:;" class="C_XS" data="XS"><i>小双</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_JQ" data="JQ"><i>家禽</i><em></em></a>
							<a href="javascript:;" class="C_YS" data="YS"><i>野兽</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_HSDA" data="HSDA"><i>合数大</i><em></em></a>
							<a href="javascript:;" class="C_HSX" data="HSX"><i>合数小</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_HSD" data="HSD"><i>合数单</i><em></em></a>
							<a href="javascript:;" class="C_HSS" data="HSS"><i>合数双</i><em></em></a>
						</div>
					</div>
					<div class="line">
						<h4>波色</h4>
						<div class="tab">
							<a href="javascript:;" class="C_HB" data="HB"><i>红波</i><em></em></a>
							<a href="javascript:;" class="C_LVB" data="LVB"><i>绿波</i><em></em></a>
							<a href="javascript:;" class="C_LB" data="LB"><i>蓝波</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_HDA" data="HDA"><i>红大</i><em></em></a>
							<a href="javascript:;" class="C_HX" data="HX"><i>红小</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_HD" data="HD"><i>红单</i><em></em></a>
							<a href="javascript:;" class="C_HS" data="HS"><i>红双</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_LVDA" data="LVDA"><i>绿大</i><em></em></a>
							<a href="javascript:;" class="C_LVX" data="LVX"><i>绿小</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_LVD" data="LVD"><i>绿单</i><em></em></a>
							<a href="javascript:;" class="C_LVS" data="LVS"><i>绿双</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_LDA" data="LDA"><i>蓝大</i><em></em></a>
							<a href="javascript:;" class="C_LX" data="LX"><i>蓝小</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_LD" data="LD"><i>蓝单</i><em></em></a>
							<a href="javascript:;" class="C_LS" data="LS"><i>蓝双</i><em></em></a>
						</div>
					</div>
					<div class="line">
						<h4>头尾数</h4>
						<div class="tab n2">
							<a href="javascript:;" class="C_T0" data="T0"><i>0头</i><em></em></a>
							<a href="javascript:;" class="C_T1" data="T1"><i>1头</i><em></em></a>
						</div>
						<div class="tab">
							<a href="javascript:;" class="C_T2" data="T2"><i>2头</i><em></em></a>
							<a href="javascript:;" class="C_T3" data="T3"><i>3头</i><em></em></a>
							<a href="javascript:;" class="C_T4" data="T4"><i>4头</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_W0" data="W0"><i>0尾</i><em></em></a>
							<a href="javascript:;" class="C_W1" data="W1"><i>1尾</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_W2" data="W2"><i>2尾</i><em></em></a>
							<a href="javascript:;" class="C_W3" data="W3"><i>3尾</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_W4" data="W4"><i>4尾</i><em></em></a>
							<a href="javascript:;" class="C_W5" data="W5"><i>5尾</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_W6" data="W6"><i>6尾</i><em></em></a>
							<a href="javascript:;" class="C_W7" data="W7"><i>7尾</i><em></em></a>
						</div>
						<div class="tab n2">
							<a href="javascript:;" class="C_W8" data="W8"><i>8尾</i><em></em></a>
							<a href="javascript:;" class="C_W9" data="W9"><i>9尾</i><em></em></a>
						</div>
					</div>
				</div>
			</div>