<?php include template("header"); ?>
<div class="main">
	<div class="header">
		<a class="back" href="javascript:history.back(-1)" title="返回"><i class="iconfont icon-fanhui"></i></a>
		<a class="pic" href="?a=user" title="会员中心">
			<?php
			if ($user['pic']) {
				if(preg_match('/^\d*$/',$user['pic'])){
					echo '<img class="pic" src="statics/images/pic/'.$user['pic'].'.jpg" alt="PIC" />';
				} else {
					echo '<img class="pic" src="uppic/user/'.$user['pic'].'" alt="PIC" />';
				}
			}
			?>
		</a>
		<h4><?php echo $headername?></h4>
	</div>
	<div class="scroll_box">
		<div class="m_nva two">
			<ul>
				<!-- 导航部分 -->
				<?php echo $gameheadhtml?>
				<li>
					<a class="nav_rules" href="?a=rules&gamename=fantan" title="游戏规则">游戏规则<span>Rules</span></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer menu">
		<a class="foot_btn a" href="?a=init"><i class="iconfont icon-dating"></i>游戏大厅</a>
		<a class="foot_btn" href="?a=pay"><i class="iconfont icon-chongzhi"></i>充值存款</a>
		<a class="foot_btn" href="?a=kefu"><i class="iconfont icon-kefu"></i>在线客服</a>
		<a class="foot_btn" href="?a=user"><i class="iconfont icon-user"></i>会员中心</a>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		//自动调整窗口
		$(window).resize(function() {
			var h = $(window).height();
			$('.scroll_box').css({'height':h-110});
		}).resize();
	});
</script>
<?php include template("footer"); ?>