<html style="font-size: 48px;" lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
  <meta name="Robots" contect="none" />
  <link href="<?php echo CSS_PATH?>app.cc8ec.css" rel="stylesheet" />
  <link href="<?php echo CSS_PATH?>/login/login.min.css" rel="stylesheet">
      <script type="text/javascript" src="<?php echo JS_PATH?>jquery-1.8.1.min.js"></script>
	<script type="text/javascript" src="<?php echo JS_PATH?>layer/layer.min.js"></script>
	<script type="text/javascript" src="<?php echo JS_PATH?>global.js"></script>
	<script type="text/javascript" src="<?php echo JS_PATH?>common.js"></script>
  <title><?php echo _lang('云鼎国际')?></title>
 </head>
 <body> 
  <!--[if lt IE 9]>
不兼容IE9以下浏览器 请去更新浏览器,推荐使用 Chrome浏览器
<![endif]-->
<div id="wraplogin">
<form action="?a=login" method="post" id="login_form" class="ng-pristine ng-valid" onsubmit="return false;">
<input type="hidden" name="dosubmit" id="dosubmit" value="yes">
  <div id="app">
   <div class="Login" style="height: 100vh;">
    <div class="LoginItem">
     <header class="login-header">
      <img class="login-logo" id="login-logo" src="/images/shop.png" />
      <a href = "?a="><img class="login-delete active-opacity" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAARVBMVEUAAAAqKiomJiYrKysyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIsLCwyMjIyMjIxMTEyMjIyMjIzMzMzMzMyMjIyMjIzMzMZq73rAAAAFnRSTlMACgYOvMO4v8bMyLQRsJaM4dGoSFdSQGPGqwAAALRJREFUOMuN1UsOwyAMRVFDkqakKfm17H+plSyqO/MLM8MZAM8I+xxbNjFSPS7bW3tl4ebWip3NpXCt2rC4FG5MpmSaukMKh4wd8pGFc/l0KRwyBS6QAy6STAhJGUqKQAaO7fuychxUOK4OJyQxCSkcDUIgwglJaxJy7HJ/JtKZCbn+XZdzEk7IteCQgRPS3RuHFM7liAwcMnbIKSmHVA4pHRKn5ImLZLUdF8li33Lj+9iW6wd77Blm0ItY2AAAAABJRU5ErkJggg==" /></a>
     </header>
     <content>
      <div class="content-tab">
       <div style="" class="tab-title">
        <span class="active"><?php echo _lang('密码登录')?></span>
        <div onclick="window.open('?a=register','_self')"><span class=""><?php echo _lang("账号注册"); ?></span></div>
       </div>
       <div class="tab-transform" style="">
        <p class="active" style="left: 0px;"></p>
       </div>
      </div>
      <div class="content-input">
       <div class="LoginInput">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAUCAMAAABcfiZ7AAAAeFBMVEUAAABhYWFiYmJlZWVlZWVlZWVgYGBlZWVlZWVmZmZlZWVlZWVmZmZmZmZlZWVkZGRkZGRlZWVlZWVlZWVmZmZlZWVlZWVaWlplZWVmZmZlZWVlZWVmZmZlZWVkZGRkZGRiYmJmZmZlZWVmZmZmZmZiYmJlZWVmZmbwQ5diAAAAJ3RSTlMADB7x5ocP4NzWxKR7VU5GQjztx7aAbQW7qZaPcmhSJxnOsK1kNDA90Z/nAAAAnUlEQVQY003MVxKDMAxF0We50DGd0Enf/w6T8Qjw+ZDu6ENwjK6rWguc3kFiySbBB0yEL7eXqOfL3HDcOo5h4egSjjjnyG4cU8uhNUehjNu7KsHGmP6T6hGHvpXN1Mi0x4WyNCOcRBorKaWKU8GPg2e+EdGWP0L32lYrDllVAEbluKyBgU7gG1pEBXz2DrnDRxJhJzxmjlCGX19U/gAkDQjMVctQlAAAAABJRU5ErkJggg==" />
        <input type="text" type="text" name="username" id="username" value="" placeholder="<?php echo _lang("输入账号")?>" value="" />
        <div>
         <div class="active-opacity" style="display: none;">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAYFBMVEUAAAC2trbY2NjX19fY2NjY2NjY2NjX19fY2NjY2NjX19fX19fY2NjY2NjY2NjX19fW1tbX19fX19fY2NjX19fS0tLX19fX19fX19fW1tbW1tbW1tbY2NjX19fY2NjY2NgDtBj4AAAAH3RSTlMAB6uk8dupp6L4573KxGFBPCX6iFsh1IBHRTo3M4uJxaXMuAAAAM5JREFUKM990tkOgyAQheGjghYQd7vazvu/ZQ2YcdDE/0bjF1EWcN3orDHWjW8cazRxukmorymp7nd7KjqkXmwDnRo27fk9mYoji+/J6vCf4fZTEVd8wqVZMc6hyiq2rIwzAloiVrZYhy9tlasGy2lrhCep0sjBktDiJowsBpIqjUyCtywrErTS8lKqhZdGJNXhJ20t33VEJy3VN6ClSdW88N1qrHG06WLL/NVmzwi15mymBTY9H7AW3OxT8zNk032n+4Rjy8NppbR7LPzoDzkdQHGvQ2ADAAAAAElFTkSuQmCC" />
         </div>
        </div>
       </div>
       <div class="LoginInput">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAATCAMAAACqTK3AAAAAV1BMVEUAAACZmZmVlZWYmJiZmZmYmJiWlpaZmZmYmJiZmZmYmJiZmZmYmJiYmJiZmZmZmZmYmJiZmZmXl5eWlpaWlpaLi4uYmJiYmJiZmZmZmZmZmZmWlpaZmZlgZZ36AAAAHHRSTlMA8jUq+khO6mF/V97QwoqEeGpcIhkL37WljA8ISoCCigAAAHVJREFUGNN9jUkOhDAMBG3IjLOHsMzq/78TFEGQg0Rd2iq12lD4GU/ovzNUNLk42uRxOMzI5l+OrHbXK1Pr/Cj5cVAJoQTFU2W1bF1kAWpA0wsSwTYoeKo7ZXWrJuaubb3D0qo8XLbm6fbjVWHqBJHAvlDg7ApzdQbYC0I+zAAAAABJRU5ErkJggg==" />
        <input type="password" type="password" id="password" name="password" value="" placeholder="<?php echo _lang("输入密码")?>" value="" />
        <div>
         <div class="active-opacity" style="display: none;">
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAUCAMAAADWUb86AAAAbFBMVEUAAACFhYWTk5OYmJiZmZmYmJiXl5eTk5OZmZmZmZmZmZmZmZmWlpaZmZmYmJiYmJiXl5eYmJiYmJiYmJiWlpaYmJiYmJiZmZmYmJiXl5eYmJiYmJiVlZWZmZmZmZmYmJiZmZmYmJiYmJiZmZkchPT5AAAAI3RSTlMABAq8Y14pHPvn0KAj9d/HFfJyWTvrvod3ZkQ0EOHWppF7bWTtrTwAAADiSURBVCjPhZDXcoMwEAAlZFCjVwOu2f//x2QgHjvCJvuiu5udKxIi/dJiF12nQsiCXu5ZsqeQQjqI97QYnFweuzM2tWsbqUBFn6yoB7UslXTg5YfFPHTJGjcGfPS2lwfTPLIjoNI3eyng+MzvgD3IYOBogftracyAojk9K6e4ALJR/KF1ALmPZ12Weo79GcC1IqA1LJjK2oqVLBEhVyguvHBxcAutydDpaBpUXkGVq2GKkmzb7vq4PKqhXj/xBkOg1bjfMw9wWCN9Nk2gybYUoSbSWWwJtX2SPP9Z/H/Kclv7BjqwFMHa2cJcAAAAAElFTkSuQmCC" />
         </div>
        </div>
       </div>
       <div class="LoginInput">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAATCAMAAACqTK3AAAAAclBMVEUAAACYmJiZmZmYmJiZmZmXl5eYmJiJiYmAgICZmZmZmZmYmJiYmJiYmJiZmZmYmJiYmJiYmJiYmJiYmJiYmJiZmZmYmJiYmJiZmZmXl5eYmJiZmZmYmJiWlpaYmJiYmJiZmZmYmJiXl5eQkJCZmZmZmZmHGoIrAAAAJnRSTlMA9f4w4DVEBgLr3Go8GObSuH1dHuLEpJuMgnVkVCKysKxKKQ/KmHThZdgAAAC1SURBVBjTVY9XDoMwEERn3QBj00KHUJP7XzHEtoR4P5ae1juz8MSpzscIN9HcZLP6iCpIMzQkyvOarAQ1vQK+9VbKOHw/pi7rwSQeqASMP5W8lc+V4A8VtWwEz5yq3L6zYCUga6dyUoDN2QRACegZeAlSh6AdF2OBtoNzSeLbFCUM2b/T+u3Mi13vsri0cF63ArDJcDfbyQ1zGuJgDFXhhnq1vjylCNiNesPTXCjcmFZnxeQjfhbtCG2V6MrrAAAAAElFTkSuQmCC" />
        <input type="text" id="code" name="code" value="" placeholder="<?php echo _lang("输入验证码")?>" value="" />
        <div>
         <div class="active-opacity" style="">
          
		  <span class="code" style="width: 100%;"><?php echo form::checkcode('code_img', '4', '14', 84, 34, '' , '', '#FFFFFF', true, '0123456789')?></span>
         </div>
        </div>
       </div>
       <div class="login_btn Button">
			<input class="btn aftercheck" type="submit" id="submit" name="submit" value="<?php echo _lang('登 录')?>" />
		</div>
	<!-- 	<div align=center><a href="javascript:setLang('s')">简</a> | <a href="javascript:setLang('t')">繁</a> | <a href="javascript:setLang('e')">En</a></div>-->
       <div class="input-link">
        <div class="active-opacity" onclick="window.open('?a=register','_self')">
         <?php echo _lang("免费注册")?>
        </div>
        <!--a class="active-opacity" href="#/ForgetPwd">忘记密码</a-->
       </div>
       <div class="input-link-div">
        <div class="input-link-2"></div>
       </div>
      </div>
     </content>
    </div>
   </div>
  </div>
  </form>
 </div>
  <script>var container = document.getElementById('app');
        container.style.webkitOverflosScrolling = 'auto';
        container.scrollTop = 9999;
        container.style.webkitOverflosScrolling = 'touch';</script>
		<script type="text/javascript" src="<?php echo JS_PATH?>Validform_v5.3.2.js"></script>
<script type="text/javascript">
$(function(){
	var Vform = $("#login_form").Validform();
	Vform.config({
		tiptype:1,
		ajaxPost:true,
		callback:function(data){
			if (data.status == 'y') {
				layer.msg(data.info, {icon: 6});
				Vform.resetForm();//初始化表单
				setTimeout(function(){//2秒后刷新
					location.reload();
				}, 2000);
			} else {
				layer.msg(data.info, {icon: 5});
				// Vform.resetForm();//初始化表单
				// $('#code_img').click();
			}
		}
	});

	Vform.addRule([
		{
			ele:'#username',
			datatype:'*1-20',
			nullmsg:'<?php echo _lang("请输入用户名！")?>',
			errormsg:'<?php echo _lang("用户名长度20字符内！")?>'
		},
		{
			ele:'#password',
			datatype:'s6-20',
			nullmsg:'<?php echo _lang("请输入密码！")?>',
			errormsg:'<?php echo _lang("密码长度6-20位！")?>'
		},
		{
			ele:'#code',
			datatype:'s4-4',
			nullmsg:'<?php echo _lang("请输入验证码！")?>',
			errormsg:'<?php echo _lang("请输入4位验证码！")?>'
		}
	]);
	$('.btn-off').on('click',function() {
		if ($(this).hasClass('btn-on')) {
			$(this).removeClass('btn-on');
			$(this).prev()[0].type = 'password';
		} else {
			$(this).addClass('btn-on');
			$(this).prev()[0].type = 'text';
		}
	});
	placeholder('.login_box');//表单提示IE兼容
	//自动调整窗口
	$(window).resize(function() {
		var h = $(window).height();
		$('.scroll_box').css({'height':h-49});
	}).resize();
});
</script>
<!--客服浮标-->
<div id="indexbtn" onclick="window.open('http://kefu.ydgj28.shop/index/index/home?visiter_id=&visiter_name=&avatar=&groupid=0&business_id=1')"></div>
  <script type="text/javascript" src="kffb.js"></script>
 </body>
</html>