<?php include template("header"); ?>
<div class="main">
	<div class="header">
		<a class="back" href="javascript:history.back(-1)" title="返回"><i class="iconfont icon-fanhui"></i></a>
		<a class="home" href="?a=init" title="首页"><i class="iconfont icon-home"></i></a>
		<h4><?php echo $headername?></h4>
	</div>
	<div class="scroll_box">
		<div class="rules">
			<div class="title"><?php echo _lang('北京赛车')?>（PK10）规则</div>
			<div class="msg">
				<h5>重要声明</h5>
				<p>1.如果客户怀疑自己的资料被盗用，应立即通知本公司，并更改详细数据，以前的使用者名称及密码将全部无效。</p>
				<p>2.客户有责任确保自己的账户及登入资料的保密性。以使用者名称及密码进行的任何网上投注将被视为有效。</p>
				<p>3.公布赔率时出现的任何打字错误或非故意人为失误，本公司保留改正错误和按正确赔率结算投注的权力。您居住所在地的法律有可能规定网络博弈不合法；若此情况属实，本公司将不会批准您使用付账卡进行交易。</p>
				<p>4.每次登入时客户都应该核对自己的账户结余额。如对余额有任何疑问，请在第一时间内通知本公司。</p>
				<p>5.一旦投注被接受，则不得取消或修改。</p>
				<p>6.所有号码赔率将不时浮动，派彩时的赔率将以确认投注时之赔率为准。</p>
				<p>7.每注最高投注金额按不同[场次]及[投注项目]及[会员账号]设定浮动。如投注金额超过上述设定，本公司有权取消超过之投注金额。</p>
				<p>8.所有投注都必须在开奖前时间内进行否则投注无效。</p>
				<p>9.所有投注派彩彩金皆含本金。</p>
				<h5><?php echo _lang('北京赛车')?>(原名：北京福彩“PK拾”)规则说明</h5>
				<p>该游戏的投注时间、开奖时间和开奖号码与“北京PK拾”完全同步，北京时间（GMT+8）每天白天从上午09:02开到晚上23:57，每5分钟开一次奖,每天开奖179期。</p>
				<p>具体游戏规则如下:</p>
				<p><span>1～10 两面：指 单、双；大、小。</span></p>
				<div>
					<p><span>单、双：</span>号码为双数叫双，如4、8；号码为单数叫单，如5、9。</p>
					<p><span>大、小：</span>开出之号码大于或等于6为大，小于或等于5为小。</p>
					<p><span>第一名～第十名 车号指定：</span>每一个车号为一投注组合，开奖结果“投注车号”对应所投名次视为中奖，其余情形视为不中奖。</p>
				</div>
				<p><span>1～5龙虎</span></p>
				<div>
					<p><span>冠  军 龙/虎：</span>“第一名”车号大于“第十名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</p>
					<p><span>亚  军 龙/虎：</span>“第二名”车号大于“第九名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</p>
					<p><span>第三名 龙/虎：</span>“第三名”车号大于“第八名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</p>
					<p><span>第四名 龙/虎：</span>“第四名”车号大于“第七名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</p>
					<p><span>第五名 龙/虎：</span>“第五名”车号大于“第六名”车号视为【龙】中奖、反之小于视为【虎】中奖，其余情形视为不中奖。</p>
				</div>
				<p><span>冠军车号＋亚军车号＝冠亚和值（为3~19)</span></p>
				<div>
					<p><span>冠亚和单双：</span>“冠亚和值”为单视为投注“单”的注单视为中奖，为双视为投注“双”的注单视为中奖，其余视为不中奖。</p>
					<p><span>冠亚和大小：</span>“冠亚和值”大于11时投注“大”的注单视为中奖，小于或等于11时投注“小”的注单视为中奖，其余视为不中奖。</p>
					<p><span>冠亚和指定：</span>“冠亚和值”可能出现的结果为3～19， 投中对应“冠亚和值”数字的视为中奖，其余视为不中奖。</p>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
	//自动调整窗口
	$(window).resize(function() {
		var h = $(window).height();
		$('.scroll_box').css({'height':h-49});
	}).resize();
});
</script>
<?php include template("footer"); ?>