<?php include template("header"); ?>
<div class="main">
	<div class="header">
		<a class="back" href="javascript:history.back(-1)" title="返回"><i class="iconfont icon-fanhui"></i></a>
		<a class="home" href="?a=init" title="首页"><i class="iconfont icon-home"></i></a>
		<h4><?php echo $headername?></h4>
	</div>
	<div class="scroll_box">
		<div class="rules">
			<div class="title"><?php echo _lang('重庆时时彩')?>规则</div>
			<div class="msg">
				<h5>重要声明</h5>
				<p>1.如果客户怀疑自己的资料被盗用，应立即通知本公司，并更改详细数据，以前的使用者名称及密码将全部无效。</p>
				<p>2.客户有责任确保自己的账户及登入资料的保密性。以使用者名称及密码进行的任何网上投注将被视为有效。</p>
				<p>3.公布赔率时出现的任何打字错误或非故意人为失误，本公司保留改正错误和按正确赔率结算投注的权力。您居住所在地的法律有可能规定网络博弈不合法；若此情况属实，本公司将不会批准您使用付账卡进行交易。</p>
				<p>4.每次登入时客户都应该核对自己的账户结余额。如对余额有任何疑问，请在第一时间内通知本公司。</p>
				<p>5.一旦投注被接受，则不得取消或修改。</p>
				<p>6.所有号码赔率将不时浮动，派彩时的赔率将以确认投注时之赔率为准。</p>
				<p>7.每注最高投注金额按不同[场次]及[投注项目]及[会员账号]设定浮动。如投注金额超过上述设定，本公司有权取消超过之投注金额。</p>
				<p>8.所有投注都必须在开奖前时间内进行否则投注无效。</p>
				<p>9.所有投注派彩彩金皆含本金。</p>
				<h5><?php echo _lang('重庆时时彩')?>规则说明</h5>
				<p>该游戏的投注时间、开奖时间和开奖号码与<?php echo _lang('重庆时时彩')?>完全同步，北京时间（GMT+8）每天白天从上午10：00开到晚上22：00，夜场从22:00至凌晨2点,每10分钟开一次奖，夜场每5分钟开一次奖,每天开奖120期(白天72期,夜间48期)。</p>
				<p>具体游戏规则如下:</p>
				<p><span>1.第一球~第五球</span></p>
				<div>
					<p><span>第一球特~第五球特：</span>第一球特、第二球特、第三球特、第四球特、第五球特：指下注的每一球特与开出之号码其开奖顺序及开奖号码相同，视为中奖，如第一球开出号码8，下注第一球为8者视为中奖，其余情形视为不中奖。</p>
					<p><span>单双大小：</span>根据相应单项投注第一球特 ~ 第五球特开出的球号，判断胜负。</p>
					<p><span>大小：</span>根据相应单项投注的第一球特 ~ 第五球特开出的球号大於或等於5为特码大，小於或等於4为特码小。</p>
					<p><span>单双：</span>根据相应单项投注的第一球特 ~ 第五球特开出的球号为双数叫特双，如2、6；特码为单数叫特单，如1、3。</p>
				</div>
				<p><span>2.总和单双大小：</span></p>
				<div>
					<p><span>大小：</span>根据相应单项投注的第一球特 ~ 第五球特开出的球号大於或等於23为特码大，小於或等於22为特码小。</p>
					<p><span>单双：</span>根据相应单项投注的第一球特 ~ 第五球特开出的球号数字总和值是双数为总和双，数字总和值是单数为总和单。</p>
				</div>
				<p><span>3.前三特殊玩法： 豹子 > 顺子 > 对子 > 半顺 > 杂六 。</span></p>
				<div>
					<p><span>豹子：</span>中奖号码的百位千位万位数字都相同。----如中奖号码为000、111、999等，中奖号码的百位千位万位数字相同，则投注豹子者视为中奖，其它视为不中奖。</p>
					<p><span>顺子：</span>中奖号码的百位千位万位数字都相连，不分顺序。（数字9、0、1相连）----如中奖号码为123、901、321、546等，中奖号码百位千位万位数字相连，则投注顺子者视为中奖，其它视为不中奖。</p>
					<p><span>对子：</span>中奖号码的百位千位万位任意两位数字相同。（不包括豹子）----如中奖号码为001，112、696，中奖号码有两位数字相同，则投注对子者视为中奖，其它视为不中奖。如果开奖号码为豹子,则对子视为不中奖。如中奖号码为001，112、696，中奖号码有两位数字相同，则投注对子者视为中奖，其它视为不中奖。</p>
					<p><span>半顺：</span>中奖号码的百位千位万位任意两位数字相连，不分顺序。（不包括顺子、对子。）----如中奖号码为125、540、390、706，中奖号码有两位数字相连，则投注半顺者视为中奖，其它视为不中奖。如果开奖号码为顺子、对子,则半顺视为不中奖。--如中奖号码为123、901、556、233，视为不中奖。</p>
					<p><span>杂六：</span>不包括豹子、对子、顺子、半顺的所有中奖号码。----如中奖号码为157，中奖号码位数之间无关联性，则投注杂六者视为中奖，其它视为不中奖。</p>
				</div>
				<p><span>4.中三特殊玩法： 豹子 > 顺子 > 对子 > 半顺 > 杂六 。</span></p>
				<div>
					<p><span>豹子：</span>中奖号码的十位百位千位数字都相同。----如中奖号码为000、111、999等，中奖号码的十位百位千位数字相同，则投注豹子者视为中奖，其它视为不中奖。</p>
					<p><span>顺子：</span>中奖号码的十位百位千位数字都相连，不分顺序。（数字9、0、1相连）----如中奖号码为123、901、321、546等，中奖号码十位百位千位数字相连，则投注顺子者视为中奖，其它视为不中奖。</p>
					<p><span>对子：</span>中奖号码的十位百位千位任意两位数字相同。（不包括豹子）----如中奖号码为001，112、696，中奖号码有两位数字相同，则投注对子者视为中奖，其它视为不中奖。如果开奖号码为豹子,则对子视为不中奖。如中奖号码为001，112、696，中奖号码有两位数字相同，则投注对子者视为中奖，其它视为不中奖。</p>
					<p><span>半顺：</span>中奖号码的十位百位千位任意两位数字相连，不分顺序。（不包括顺子、对子。）----如中奖号码为125、540、390、706，中奖号码有两位数字相连，则投注半顺者视为中奖，其它视为不中奖。如果开奖号码为顺子、对子,则半顺视为不中奖。--如中奖号码为123、901、556、233，视为不中奖。</p>
					<p><span>杂六：</span>不包括豹子、对子、顺子、半顺的所有中奖号码。----如中奖号码为157，中奖号码位数之间无关联性，则投注杂六者视为中奖，其它视为不中奖。</p>
				</div>
				<p><span>5.后三特殊玩法： 豹子 > 顺子 > 对子 > 半顺 > 杂六 。</span></p>
				<div>
					<p><span>豹子：</span>中奖号码的个位十位百位数字都相同。----如中奖号码为000、111、999等，中奖号码的个位十位百位数字相同，则投注豹子者视为中奖，其它视为不中奖。</p>
					<p><span>顺子：</span>中奖号码的个位十位百位数字都相连，不分顺序。（数字9、0、1相连）----如中奖号码为123、901、321、546等，中奖号码个位十位百位数字相连，则投注顺子者视为中奖，其它视为不中奖。</p>
					<p><span>对子：</span>中奖号码的个位十位百位任意两位数字相同。（不包括豹子）----如中奖号码为001，112、696，中奖号码有两位数字相同，则投注对子者视为中奖，其它视为不中奖。如果开奖号码为豹子,则对子视为不中奖。如中奖号码为001，112、696，中奖号码有两位数字相同，则投注对子者视为中奖，其它视为不中奖。</p>
					<p><span>半顺：</span>中奖号码的个位十位百位任意两位数字相连，不分顺序。（不包括顺子、对子。）----如中奖号码为125、540、390、706，中奖号码有两位数字相连，则投注半顺者视为中奖，其它视为不中奖。如果开奖号码为顺子、对子,则半顺视为不中奖。--如中奖号码为123、901、556、233，视为不中奖。</p>
					<p><span>杂六：</span>不包括豹子、对子、顺子、半顺的所有中奖号码。----如中奖号码为157，中奖号码位数之间无关联性，则投注杂六者视为中奖，其它视为不中奖。</p>
				</div>
				<p><span>6.龙虎和特殊玩法： 龙 > 虎 > 和 （0为最小，9为最大）。</span></p>
				<div>
					<p><span>龙：</span>开出之号码第一球（万位）的中奖号码大于第五球（个位）的中奖号码，如出和局为打和。如 第一球开出4 第五球开出2；第一球开出9 第五球开出8；第一球开出5 第五球开出1...中奖为龙。</p>
					<p><span>虎：</span>开出之号码第一球（万位）的中奖号码小于第五球（个位）的中奖号码，如出和局为打和。如 第一球开出7 第五球开出9；第一球开出3 第五球开出5；第一球开出5 第五球开出8...中奖为虎。</p>
					<p><span>和：</span>开出之号码第一球（万位）的中奖号码等于第五球（个位）的中奖号码，例如开出结果：2***2则投注和局者视为中奖，其它视为不中奖。</p>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
	//自动调整窗口
	$(window).resize(function() {
		var h = $(window).height();
		$('.scroll_box').css({'height':h-49});
	}).resize();
});
</script>
<?php include template("footer"); ?>